* {
  margin: 0%;
  padding: 0;
  background-color: #BFDACC;
}

#log {
  background-color: #F2F2F2;
  margin: 10px 10px 10px 10px;

}

#logo {
  background-color: #F2F2F2;

}


form {
  background-color: #F2F2F2;
  margin: 10px 10px 10px 10px;
}



#client {
  background-color: #F2F2F2;
  background: #F2F2F2;
  font-size: x-large;


}



#name {
  background-color: #F2F2F2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




#cpf {
  background-color: #F2F2F2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




#eddress {
  background-color: #F2F2F2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



#number{
  background-color: #F2F2F2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


#cep{
  background-color: #F2F2F2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


#district {
  background-color: #F2F2F2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}




#city{
  background-color: #F2F2F2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


#state{
  background-color: #F2F2F2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



#email {
  background-color: #F2F2F2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



#contact{
  background-color: #F2F2F2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



#contactem{
  background-color: #F2F2F2;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


button {
  background: #F8C4B4;
  color: #8b5D4f;
  height: 40px;
  width: 80px;
  font: arial, sans-serif;
  text-shadow: none;
  float: right;
  border: 2px solid #8b5D4f;
  border-radius: 5px;
  padding: 10px;
  margin: 40px 20px;
  cursor: pointer;
  align-items: last baseline;

}